# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vscode

# Compiled class files
*.class

# Build directory
/app/bin/
/bin/

# Editor backup files
*~